@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
  color: #f5f0fd;
  font: 400 16px "Asap", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #740606;
  font-size: 20px;
  margin: 10px 40px;
  text-align: justify;
}


@media (max-width: 768px) {
  body {
    font-size: 18px; /* Diminuir o tamanho da fonte para telas menores */
    margin: 10px 20px; /* Reduzir a margem para telas menores */
  }
}

@media (max-width: 480px) {
  body {
    font-size: 16px; /* Diminuir ainda mais o tamanho da fonte */
    margin: 10px 10px; /* Reduzir ainda mais a margem */
  }
}

@media (max-width: 430px) {
  body {
    font-size: 16px; /* Reduza o tamanho da fonte para melhorar a legibilidade em telas menores */
    margin: 10px; /* Reduza a margem geral do corpo */
  }

  #presentation-title {
    font-size: 19.5px; /* Reduza o tamanho da fonte do título */
    display: flex;
    justify-content: right;
    margin: auto;
  }

  .presentation-class p {
    margin-left: 5px; /* Ajuste a margem esquerda do texto */
    font-size: 12px; /* Reduza o tamanho da fonte do texto */
  }

  .experiencia-class h2 {
    font-size: 25px; /* Reduza o tamanho da fonte do título */
  }

  .cursos {
    width: 300px;
    margin: -20px 0px -20px 0px; /* Ajuste a margem do elemento */
  }

  #estrelaDourada1, #estrela, #estrela3, #estrelasAzul, #estrelasBrancas{
    display: none;
  }
}

header {
  text-align: center;
  margin-top: 25px;
  height: 100%;
}

header h1 {
  font-size: 35px;
  color: #f5f0fd;
}

.cargos {
  justify-content: center;
  margin-top: 40px;
}

@media (max-width: 740px) {
  header h1 {
    font-size: 25px;
  }
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.contacts img {
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

.title-imgs {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#email,
#github,
#linkedin {
  cursor: pointer;
}
.imagens-fundo img {
  width: 100px; /* Largura da imagem */
  height: 100px; /* Altura da imagem */
}

@keyframes dance1 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px) rotate(-5deg);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px) rotate(5deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dance2 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px) rotate(5deg);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px) rotate(5deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dance3 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-8px) rotate(-7deg);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-4px) rotate(5deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dance4 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(6px) rotate(9deg);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-4px) rotate(-5deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dance5 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
  10% {
    transform: translateY(0px) translateX(5px) rotate(0%);
  }
  25% {
    transform: translateY(15px) translateX(0px) rotate(5deg);
  }
  50% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
  75% {
    transform: translateY(16px) translateX(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
}

@keyframes dance6 {
  0% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
  10% {
    transform: translateY(0px) translateX(-5px) rotate(0%);
  }
  25% {
    transform: translateY(-17px) translateX(0px) rotate(5deg);
  }
  50% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
  75% {
    transform: translateY(-16px) translateX(9px) rotate(0deg);
  }
  100% {
    transform: translateY(0px) translateX(0) rotate(0%);
  }
}

#estrelasAzul {
  animation: dance5 1s infinite;
  margin-left: 1%;
  top: 450px;
  position: absolute;
}

#estrelasBrancas {
  animation: dance5 1s infinite;
  margin-left: 1190px;
  top: 900px;
  position: absolute;
}

#selo {
  animation: dance6 1s infinite;
  margin-left: -2%;
  top: 1200px;
  position: absolute;
}

#selo img {
  width: 180px;
  height: 180px;
  transform: rotate(-9deg);
}

#coracao2 {
  animation: dance5 1s infinite;
  margin-left: 86%;
  top: 1600px;
  position: absolute;
}

#estrelaDourada1 img {
  transform: rotate(5deg);
}

#estrelaDourada1 {
  animation: dance6 1s infinite;
  margin-left: 86%;
  top: 50px;
  position: absolute;
}

#estrela {
  animation: dance6 1s infinite;
  top: 2100px;
  position: absolute;
  margin-left: -1%;
}

#estrela img {
  transform: rotate(-25deg);
  width: 100%;
}

#estrela3 {
  animation: dance5 1s infinite;
  top: 2420px;
  position: absolute;
  left: 91%; 
  transform: translateX(-50%);
  margin-left: 0; 
}

#estrela3 img {
  transform: rotate(-7deg);
  width: 40px;
}

@media (max-width: 740px) {
  .title-imgs {
    margin-top: 20px;
  }
  .imagens-fundo img {
    width: 50px;
    height: 50px;
  }

  #selo img {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    top: 340px;
  }

  #estrelasBrancas {
    margin-left: 88%;
    top: 430px;
  }
}
.background-experiencia {
  width: 100%;

}

#M-img,
#A-img,
#J-img,
#U-img {
  display: inline-block;
  height: 200px;
}

@media (max-width: 740px) {
  #M-img,
  #A-img,
  #J-img,
  #U-img {
    height: 100px;
  }
}

#M-img {
  animation: dance1 1s infinite; /* Aplica a animação */
}

#A-img {
  animation: dance2 1s infinite; /* Aplica a animação */
}

#J-img {
  animation: dance3 1s infinite; /* Aplica a animação */
}
#U-img {
  animation: dance4 1s infinite; /* Aplica a animação */
}

.negrito {
  font-weight: bold;
  color: #f5f0fd;
  text-decoration: none;
}

.topico {
  list-style-type: disc; /* Define o estilo da lista como uma bolinha */
}

.topico li {
  margin-bottom: 22px; /* Adiciona espaçamento entre os tópicos */
}
.topico h3, .topico p{
  margin-left: -5px; /* Ajusta a posição do título em relação à bolinha */
  margin-top: 10px;
  margin-right: 15px;
}
.topico li::marker {
  font-size: 1.5em; /* Ajusta o tamanho da bolinha */
}

#tempo{
  margin-bottom: 15px;
}

.presentation-class {
  margin: 20px 100px;
  margin-bottom: 50px;
  overflow: hidden;
}

.presentation-class p {
  margin-left: 420px; /* Adiciona margem de 10px em todos os lados do texto */
  font-size: 23px; /* Define o tamanho da fonte */
  line-height: 1.3; /* Adiciona espaço entre as linhas */
}
.presentation-class h1 {
  font-size: 45px; /* Define o tamanho da fonte */
  color: #29cff8;
  margin-left: 505px; /* Adiciona margem de 10px em todos os lados do texto */
}

#presentation-img {
  float: left;
  margin-right: 25px;
  width: 365px;
  margin-top: -95px;
}

@media (max-width: 740px) {
  .presentation-class {
    margin: 20px 0px;
    padding: 0px 10px;
  }
  .presentation-class h1 {
    font-size: 22px;
    margin-left: 236px;
  }
  .presentation-class p {
    margin-left: 10px;
    font-size: 15px;
  }
  #presentation-img {
    width: 40%;
    margin-top: -20px;
    margin-right: 15px;
    margin-left: -5px;
  }
}

.experiencia-class {
  background-color: #b12b2b;
  border-radius: 6px;
  padding: 12px;
  margin: 0 190px;
}

.experiencia-class h2 {
  color: #29cff8;
  font-size: 45px; /* Define o tamanho da fonte */
}
.experiencia-class  h2, h3 {
  margin: 10px; /* Adiciona margem de 10px em todos os lados do texto */
}

.experiencia-class p{
  margin-bottom: 5px;
} 

@media (max-width: 740px) {
  .experiencia-class {
    margin: 20px 0px; /* Margem menor para janelas menores que 740px */
  }
}

#pc h2 {
  color: #29cff8;
  font-size: 45px; /* Define o tamanho da fonte */
  text-align: center;
  margin: 25px 0px;
}

.projects-class h4 {
  margin-left: 10px; 
}

.projects-class h4 {
  font-size: 22px;
}

.projects-class p {
  font-size: 18px;
}

.projects-class {
  display: flex;
  margin: 25px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}


.projects-class .projetos p {
  margin: 10px 10px; 
}
.projects-class .projetos {
  background-color: #f5f0fd;
  border-radius: 6px;
  width: 500px;
  color: #290808;
  padding: 0px 10px 10px;
  margin-bottom: 15px;
  position: relative;
}

.projects-class .projetos h4 {
  margin: 12px 0px 0px 10px;
}

.projects-class .projetos h5 {
  display: inline-block;
  background-color: #b12b2b; 
  border: none; 
  border-radius: 10px; 
  padding: 5px 10px; 
  margin: 0px 0px 0px 10px; 
  color: #f5f0fd;
}

.projects-class .projetos{
  cursor: pointer;
}

.projects-class .gif-projetos {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 100%;
}

.projects-class .gif-projetos img{
  margin: 10px;
  max-height: 230px;
  flex: 1 1 300px;
}


/* Media query para tablets e telas menores */
@media (max-width: 740px) {
  .projects-class {
    margin: 20px 0px;
    justify-content: center; 
  }
  .projects-class .projetos {
    width: 100%;
  }
  .projects-class .gif-projetos img {
    max-width: 100%; /* Assegure que as imagens não excedam a largura do contêiner */
  }
}


@media (max-width: 480px) {
  .projects-class {
    margin: 15px 5px; /* Ajuste a margem para telas ainda menores */
    justify-content: center; /* Centralizar itens */
  }
  .projects-class .projetos {
    width: 100%; /* Ajuste a largura para 100% em telas menores */
  }

  .projects-class h4 {
    font-size: 20px; /* Ajuste o tamanho da fonte para telas menores */
  }
  .projects-class p {
    font-size: 16px; /* Ajuste o tamanho da fonte para telas menores */
  }
  .projects-class .projetos {
    padding: 10px; /* Ajuste o padding para telas menores */
  }
}


.curses-class {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 100px;
  justify-content: flex-start;
  color: #290808;
}

.curses-class h4 {
  margin: 10px 10px 0px 10px;
  font-size: 22px;
}

.curses-class p {
  margin: 10px 10px 0px 10px;
  font-size: 18px;
  padding: 2px;
}

.curses-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos ocupem várias linhas */
  justify-content: space-around; /* Espaçamento uniforme dos elementos */
  gap: 20px; /* Espaçamento entre os elementos */
  margin: 30px auto;
  max-width: 1200px; /* Largura máxima para manter o layout consistente */
}

.cursos {
  width: 350px; /* Tamanho do box */
  height: 450px; /* Altura do box */
  margin: 10px;
  border-radius: 10px;
  color: #290808;
  background-color: #f5f0fd;
  cursor: pointer;
  text-align: center; /* Centralizando o texto */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar o conteúdo horizontalmente */
  justify-content: space-between; /* Espaçamento entre os elementos */
  padding: 5px; /* Adicionando padding interno */
  transition: transform 0.3s ease; /* Animação ao passar o mouse */
}

.cursos:hover {
  transform: scale(1.05); /* Efeito ao passar o mouse */
}

.cursos img {
  max-width: 100%;
  border-radius: 6px 6px 0 0;
}

.cursos h4 {
  font-size: 22px;
  font-weight: bold;
}

div#openUsd1.cursos h4 {
  font-size: 18px !important;
}

.cursos p {
  font-size: 16px;
  padding: 10px; /* Adicionando padding interno ao texto */
  text-align: justify; /* Justificando o texto para melhorar a leitura */
}

/* Media query para tablets e telas menores */
@media (max-width: 740px) {
  .curses-container {
    justify-content: center; /* Centralizar os itens em telas menores */
  }
  .cursos {
    width: 100%; /* Ajuste a largura para 100% em telas menores */
    height: auto; /* Ajuste a altura para manter a proporção */
  }
}

/* Media query para smartphones e telas ainda menores */
@media (max-width: 480px) {
  .curses-container {
    flex-direction: column; /* Altere a direção do flex para coluna */
    align-items: center; /* Centralizar os itens em telas muito pequenas */
  }
  .cursos {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

/* Media query para telas maiores */
@media (min-width: 1024px) {
  .cursos {
    width: 300px;
    height: 350px;
  }
}

